/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mission-tile-container {
    margin-top: 16px;
  }
  
  .mission-tile {
    max-width: 300px;
    border: 1px solid #ccc;
    background-color: #17dadd;
  }
  